@charset "UTF-8";
@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
body {
  /* сброс стилей */
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

body.dark__theme {
  background-color: #222222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.alert {
  position: fixed;
  top: 70px;
  right: 0;
  padding: 15px;
  border: 1px solid #970000;
  border-radius: 4px;
  color: #d80000;
  background-color: #ffffff;
  z-index: 10000000;
}

.notification {
  position: fixed;
  top: 100px;
  right: 10px;
  padding: 15px;
}
.notification__close {
  position: absolute;
  top: 0px;
  right: 5px;
}
.notification__info {
  border: 1px solid #9d9d9d;
  background-color: #f0f0f0;
  color: #000000;
}
.notification__warning {
  border: 1px solid #6e5656;
  background-color: #d2a4a4;
  color: #000000;
}
.notification__succes {
  border: 1px solid #d6e9c6;
  color: #3c763d;
  background-color: #dff0d8;
}

.hideModal {
  animation: hideModal 5s;
}

.hide {
  display: none;
}

@keyframes slideModal {
  from {
    right: -200px;
  }
  to {
    right: 0;
  }
}
@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideModal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  height: 74px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  z-index: 1000000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}
.header__logo {
  font-weight: 700;
  font-size: 28px;
  line-height: 45px;
  color: #222222;
}
.header__theme {
  display: flex;
  height: 33px;
  margin-top: 7px;
}
.header__theme:hover {
  transform: scale(1.1);
}

.dark__theme .header {
  background-color: #222222;
  color: #FFFFFF;
}

.dark__theme .header__logo {
  color: #FFFFFF;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 33px;
}
.navigation__item:first-child {
  color: #FD8558;
}
.navigation__item {
  color: #222222;
}
.navigation__item:hover {
  color: #FD8558;
}
.navigation__item--active {
  color: #FD8558;
}

.dark__theme .navigation__item {
  background-color: #222222;
  color: #FFFFFF;
}
.dark__theme .navigation__item:hover {
  color: #FD8558;
}
.dark__theme .navigation__item--active {
  color: #FD8558;
}

.dark__theme .navigation {
  background-color: #222222;
  color: #FFFFFF;
}

.hamburger-menu {
  display: none;
  position: absolute;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
  display: flex;
  /* используем flex для центрирования содержимого */
  align-items: center;
  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FD8558;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  border: 2px solid #FD8558;
  background-color: rgba(8, 8, 8, 0.651);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  padding: 12px 24px;
  color: #333;
  color: #EEEEEE;
  font-weight: 400;
  font-size: 19px;
  border: 2px solid transparent;
  text-decoration: none;
}
.menu__item--active {
  color: #FD8558;
}

.menu__item:hover {
  border: 2px solid #ff0dd7;
  color: #FD8558;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 8px;
}

.disign {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/background3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-top: 74px;
  margin-bottom: 34px;
  height: calc(100vh - 74px);
  max-height: 840px;
  color: #fff;
  line-height: 85px;
  text-align: center;
}
.disign-title {
  font-size: 70px;
  font-weight: 400;
  color: #8813a0;
  animation: flow 10s ease-in-out infinite;
  background: linear-gradient(to right, #5616bd, #f81f8b, #f19a27);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.disign-content {
  margin-top: -29px;
}

.dark__theme .header {
  background-color: #222222;
  color: #FFFFFF;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 28px;
  padding-top: 20px;
}

.button {
  padding: 13px 38px;
  color: #fff;
  background: #FD8558;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  border: none;
}
.button:hover {
  background-color: #ff6d38;
}
.button__disabled {
  background-color: #333;
  color: #616161;
}
.button__disabled:hover {
  background-color: #333;
  color: #616161;
}

.dark__theme .button__disabled {
  border: 2px solid #FD8558;
}

.button__secondary {
  border: 2px solid #FD8558;
  background-color: transparent;
}
.button__secondary:hover {
  background-color: rgba(0, 0, 0, 0.733);
}

.title {
  font-weight: 400;
  font-size: 15px;
  color: #FD8558;
  text-transform: uppercase;
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 54px;
  color: #333333;
}

.dark__theme .subtitle {
  color: #ababab;
}

.about__title {
  font-weight: 400;
  font-size: 150px;
  line-height: 145px;
  color: #F7F7F7;
}

.about__top-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.about__ultimate-cont {
  width: 430px;
}

.about__text-ultimate {
  padding-top: 25px;
  font-size: 40px;
}

.about__paragrapf {
  width: 600px;
}
.about__paragrapf-title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
}
.about__paragrapf-text {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999999;
}

.about__office-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 60px;
}

.about__text-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 65px;
}

.about__quote {
  font-weight: 400;
  font-size: 26px;
  line-height: 45px;
}
.about__quote-italic {
  font-style: italic;
  color: #FD8558;
}
.about__quote-author {
  font-size: 20px;
}
.about__quote-author-top {
  line-height: 20px;
  color: #222;
  font-style: normal;
}
.about__quote-author-bottom {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  line-height: 22px;
  color: #CACACA;
}

.dark__theme .about__quote {
  color: #FFFFFF;
}

.solution {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 200px;
}
.solution__item {
  position: relative;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.solution__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #333;
}
.solution__text {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999;
}
.solution__img {
  height: 64px;
}
.solution__icon {
  position: absolute;
  top: -21px;
  left: 109px;
}

.decor {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.decor__img {
  margin: 15px;
}

.line {
  width: 100%;
  height: 1px;
  background: #F5F5F5;
}

.works {
  margin: 0 auto;
  margin-top: 140px;
  max-width: 1440px;
  width: 100%;
}
.works__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 260px;
}
.works__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 135px;
}
.works__text-titles {
  width: 315px;
}
.works__orange-header {
  width: 136px;
  margin: 0;
  line-height: 15px;
}
.works__start-text {
  margin: 0;
  width: 312px;
  line-height: 38px;
}
.works__grey-title {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  line-height: 180px;
  font-size: 200px;
  color: #F7F7F7;
}

.button__view-more {
  width: 154px;
  height: 56px;
  margin-right: 120px;
  z-index: 100;
}

.gallery__container {
  display: flex;
  justify-content: space-between;
}
.gallery__aside-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.gallery__img {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 720px;
  padding: 20px;
  background-size: cover;
  background-image: url(../images/house1.png);
}
.gallery__check-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 126px;
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  background-color: rgba(255, 255, 255, 0.85);
}

.bag {
  height: 360px;
  background-image: url(../images/packages.png);
}

.house {
  height: 360px;
  background-image: url(../images/lines.png);
}

.differents {
  height: 360px;
  background-image: url(../images/letters.png);
}

.skills {
  display: flex;
  justify-content: space-between;
  margin-top: 115px;
}
.skills__items {
  width: 600px;
  margin-right: 40px;
}
.skills__text {
  width: 456px;
}
.skills__text .subtitle {
  margin-top: -8px;
  line-height: 38px;
}
.skills__paragrapf {
  margin-top: 15px;
  line-height: 26px;
  color: #999999;
}
.skills__bar {
  height: 100%;
  width: 90%;
  background: linear-gradient(90deg, #FF4803 0%, #FFAE35 59.74%);
}
.skills__bar-container {
  height: 10px;
  background: #EEEEEE;
}
.skills__name {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
}
.skills__procent {
  position: absolute;
  top: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #999999;
}
.skills__item {
  position: relative;
  margin-bottom: 45px;
}
.skills__item-primary .skills__bar {
  width: 90%;
}
.skills__item-primary .skills__procent {
  right: 10%;
}
.skills__item-secondary .skills__bar {
  width: 80%;
}
.skills__item-secondary .skills__procent {
  right: 20%;
}
.skills__item-last .skills__bar {
  width: 95%;
}
.skills__item-last .skills__procent {
  right: 5%;
}

.team {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 105px;
}
.team__subtitle {
  margin: 0;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 32px;
  line-height: 42px;
}
.team__wrap-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.team__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 350px;
  color: #FFFFFF;
  font-weight: 400;
}
.team__photo-name {
  font-size: 24px;
  line-height: 30px;
}
.team__photo-profesion {
  font-size: 14px;
  line-height: 24px;
}
.team__photo-brown {
  background-image: url(../images/brown.png);
}
.team__photo-crown {
  background-image: url(../images/crown.png);
}
.team__photo-necker {
  background-image: url(../images/necker.png);
}
.team__photo-kesslin {
  background-image: url(../images/kesslin.png);
}
.team__photo-jones {
  background-image: url(../images/jones.png);
}
.team__photo-white {
  background-image: url(../images/white.png);
}
.team__button {
  margin-top: 80px;
  margin-bottom: 115px;
}
.team__block {
  margin-bottom: 122px;
  height: 760px;
  background-color: #3A0F73;
}
.team__block_text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  gap: 45px;
  color: #FFFFFF;
}
.team__block-title {
  font-weight: 400;
  font-size: 200px;
  line-height: 220px;
  color: rgba(170, 170, 170, 0.1);
}
.team__block-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.2px;
}
.team__block-author {
  display: flex;
}
.team__block-author-name {
  margin-top: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.news__subtitle {
  margin-top: 40px;
  font-size: 32px;
  line-height: 42px;
}
.news__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  margin-top: 26px;
}
.news__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 437px;
  width: 360px;
  height: 355px;
}
.news__wrapper-text {
  margin-top: 28px;
}
.news__wrapper-web {
  margin-right: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #FD8558;
}
.news__wrapper-text_grey {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
}
.news__wrapper-subtitle {
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 33px;
}

.dark__theme .news {
  color: #FFFFFF;
}

.info__container {
  display: flex;
  justify-content: space-between;
  margin-top: 115px;
}
.info__wrap:first-child {
  margin-bottom: 45px;
}
.info__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: rgba(34, 18, 18, 0.4);
}
.info__paragrapf {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #222222;
}
.info__content {
  width: 293px;
}

.dark__theme .info__title {
  color: #FFFFFF;
}

.dark__theme .info__paragrapf {
  color: #FFFFFF;
}

.form {
  width: 705px;
}
.form__wrap {
  display: flex;
  gap: 29px;
}
.form__input {
  width: 100%;
  padding: 18px 0 18px 40px;
}
.form__input::-moz-placeholder {
  color: #999;
}
.form__input::placeholder {
  color: #999;
}
.form__message {
  margin-top: 30px;
  width: 100%;
  height: 128px;
  padding: 18px 0 18px 40px;
  resize: none;
}
.form__message::-moz-placeholder {
  color: #999;
}
.form__message::placeholder {
  color: #999;
}
.form__button {
  display: flex;
  margin-top: 65px;
  border: 2px solid transparent;
}

.dark__theme .form {
  color: #FFFFFF;
}

.footer {
  margin-top: 120px;
  height: 100%;
  background-color: black;
  color: white;
}
.footer__blocks {
  display: flex;
  justify-content: space-around;
  padding-top: 120px;
  flex-wrap: wrap;
}
.footer__logo {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #FFFFFF;
}
.footer__logo-contacts {
  display: flex;
  margin-top: 25px;
  gap: 10px;
}
.footer__logo-web {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.6);
}
.footer__block {
  display: flex;
  flex-direction: column;
}
.footer__block-subtitle {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}
.footer__block-web {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #BABABA;
}
.footer__last-title {
  display: block;
  margin-top: 70px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #BABABA;
}
.footer__last-title_color {
  color: #FFFFFF;
}

@media (max-width: 1271px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .team__block-title {
    font-size: 160px;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .team__block-title {
    font-size: 100px;
  }
}
@media (max-width: 990px) {
  .hamburger-menu {
    display: block;
  }
  .header__theme {
    position: fixed;
    right: 20px;
  }
  .navigation {
    display: none;
  }
  .header__container {
    justify-content: center;
    gap: 20px;
  }
  .about__img {
    margin-left: 10px;
    width: 500px;
    height: 300px;
  }
  .about__top-content {
    flex-direction: column;
    align-items: center;
  }
  .about__top-content div {
    width: 100%;
  }
  .about__office-container {
    justify-content: flex-end;
  }
  .form__wrap {
    flex-wrap: wrap;
  }
  .form {
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .info__container {
    flex-wrap: wrap;
    gap: 60px;
  }
  .about__img {
    display: none;
  }
  .about__office-container {
    justify-content: flex-start;
  }
  .works__text {
    flex-wrap: wrap;
    margin-left: 5px;
    gap: 10px;
  }
  .works__grey-title {
    display: none;
  }
  .gallery__container {
    flex-wrap: wrap;
  }
  .gallery__aside-container {
    width: 100%;
  }
  .skills {
    flex-wrap: wrap;
  }
  .team__block-title {
    font-size: 60px;
  }
  .footer__blocks {
    flex-direction: column;
    margin-left: 5px;
    padding-top: 10px;
  }
  .button__view-more {
    z-index: unset;
  }
}
@media (max-width: 480px) {
  .header__container {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .contacts {
    margin-top: -5px;
  }
  .about__title {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */